@import url('_variables.css');

button {
    padding: 0.5rem 1rem;
    border: var(--border) solid transparent;
    border-radius: var(--radius);
    background: var(--primary-gradient);
    color: white;
    cursor: pointer;
    transition: all var(--transition);
    font-family: inherit;
    font-size: inherit;
}

button:hover {
    filter: var(--hover-filter);
}

button:active {
    filter: var(--press-filter);
}

button[neutral] {
    background: var(--neutral-gradient);
    color: var(--fg);
    box-shadow: inset 0 1px 3px color-mix(in srgb, var(--neutral) 30%, black);
}

button[info] {
    background: linear-gradient(to bottom, 
        color-mix(in srgb, var(--info) 70%, white), 
        var(--info), 
        color-mix(in srgb, var(--info) 70%, black));
}

button[success] {
    background: linear-gradient(to bottom, 
        color-mix(in srgb, var(--success) 70%, white), 
        var(--success), 
        color-mix(in srgb, var(--success) 70%, black));
}

button[warning] {
    background: linear-gradient(to bottom, 
        color-mix(in srgb, var(--warning) 70%, white), 
        var(--warning), 
        color-mix(in srgb, var(--warning) 70%, black));
    color: black;
}

button[danger] {
    background: linear-gradient(to bottom, 
        color-mix(in srgb, var(--danger) 70%, white), 
        var(--danger), 
        color-mix(in srgb, var(--danger) 70%, black));
}